/** LIGHT-DARK THEME ===============================> */

.dark-theme-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1.5rem;
  right: 1.5rem;
  background-color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.dark-theme-btn img {
  display: block;
  max-height: 90%;
}

.invert {
  filter: invert(100%);
}

.light-dark {
  background-color: #1e2732;
  color: #fafafa;
}

.text-dark-mode {
  color: #fafafa;
}

.h2-dark-light {
  color: #fafafa;
}

.nav-bar-dark-light {
  background-color: #15202b;
}

.after-text-dark-mode {
  color: #fafafa;
}

/** ABOUT AND PROJECTS ===============================> */

.green-box-dark {
  background-color: #3c6186;
}

.card-dark-mode {
  background-color: #3c6186;
}
