@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
  --btn-digits: #0b0d14;
  --btn-operators: #171c2b;
  --btn-color: #fff;
  --btn-height: 5rem;
  --btn-width: 4.5rem;
}

button {
  color: #fff;
  border: solid 1px #1f263c;
  font-size: 1.2rem;
}

button:hover {
  background-color: #50566b80 !important;
}

div {
  user-select: none;
}

.calculator-grid-box {
  display: grid;
  background-color: #1f263c80;
  /* width: 20rem; */
  /* height: 31.25rem; */
  grid-template-areas:
    'calculator-label calculator-label calculator-label calculator-label'
    'display display display display'
    'btn-add btn-subtract btn-multiply btn-divide'
    'seven eight nine AC'
    'four five six AC'
    'one two three equals'
    'zero zero dot equals';
  border: solid 1px #808080;
  box-shadow: 0 0 0.3rem #ffffff80;
  font-family: 'Ubuntu', sans-serif;
}

.display-box {
  grid-area: display;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: bold;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.display-top {
  color: #ffa500;
  font-size: 1.5rem;
  width: 100%;
  height: 2.2rem;
  text-align: right;
  font-size: inherit;
}

.display-bottom {
  color: #fff;
  width: 100%;
  text-align: right;
  font-size: inherit;
}

#zero {
  grid-area: zero;
  background-color: var(--btn-digits);
  height: var(--btn-height);
}
#one {
  grid-area: one;
  background-color: var(--btn-digits);
  height: var(--btn-height);
  width: var(--btn-width);
}
#two {
  grid-area: two;
  background-color: var(--btn-digits);
  height: var(--btn-height);
  width: var(--btn-width);
}
#three {
  grid-area: three;
  background-color: var(--btn-digits);
  height: var(--btn-height);
  width: var(--btn-width);
}
#four {
  grid-area: four;
  background-color: var(--btn-digits);
  height: var(--btn-height);
  width: var(--btn-width);
}
#five {
  grid-area: five;
  background-color: var(--btn-digits);
  height: var(--btn-height);
  width: var(--btn-width);
}
#six {
  grid-area: six;
  background-color: var(--btn-digits);
  height: var(--btn-height);
  width: var(--btn-width);
}
#seven {
  grid-area: seven;
  background-color: var(--btn-digits);
  height: var(--btn-height);
  width: var(--btn-width);
}
#eight {
  grid-area: eight;
  background-color: var(--btn-digits);
  height: var(--btn-height);
  width: var(--btn-width);
}
#nine {
  grid-area: nine;
  background-color: var(--btn-digits);
  height: var(--btn-height);
  width: var(--btn-width);
}
#add {
  grid-area: btn-add;
  background-color: var(--btn-operators);
  height: var(--btn-height);
  width: var(--btn-width);
}
#subtract {
  grid-area: btn-subtract;
  background-color: var(--btn-operators);
  height: var(--btn-height);
  width: var(--btn-width);
}
#multiply {
  grid-area: btn-multiply;
  background-color: var(--btn-operators);
  height: var(--btn-height);
  width: var(--btn-width);
}
#divide {
  grid-area: btn-divide;
  background-color: var(--btn-operators);
  height: var(--btn-height);
  width: var(--btn-width);
}
#decimal {
  grid-area: dot;
  background-color: var(--btn-digits);
  height: var(--btn-height);
  width: var(--btn-width);
}
#clear {
  grid-area: AC;
  background-color: #ed6464;
  width: var(--btn-width);
}
#equals {
  grid-area: equals;
  background-color: #6495ed;
  width: var(--btn-width);
}
