:root {
  --text-center: center;
}

.general-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 18rem;
  text-transform: uppercase;
  padding: 1rem;
  border: solid 1px #fff;
}

.general-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: solid 1px #fff;
  border-radius: 2rem;
  font-size: 1.2rem;
  background-color: #43678080;
}

.length-box {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  text-align: var(--text-center);
  width: 100%;
}

.decrement-increment-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  background-color: #1e2530;
  font-size: 1.4rem;
  font-weight: bold;
}

.label-and-timeleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 1rem #fff, 0 0 4rem #000;
  color: #fff;
  font-size: 2rem;
  transition: all 1s ease;
}

.start-pause-reset-box {
  display: flex;
  gap: .5rem;
}
.play-pause-reset {
  text-align: var(--text-center);
  border: solid 1px #fff;
  padding: .4rem .8rem;
  border-radius: 2rem;
}