html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  scrollbar-width: auto;
  scrollbar-color: #393939 #222222;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #222222;
}

*::-webkit-scrollbar-thumb {
  background-color: #393939;
  border-radius: 10px;
  border: 3px solid #222222;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(75, 75, 75, 0.836);
}

a {
  text-decoration: none;
  color: cornflowerblue;
}

body {
  background-color: #222;
  color: #fff;
  height: 90vh;
  overflow-y: hidden;
}

#main-box {
  display: grid;
  grid-template-rows: 50vh 50vh;
  height: 100%;
}

#editor {
  padding: 1rem;
  border: none;
  display: block;
  resize: none;
}

#editor:focus {
  outline: none;
}

#preview {
  padding: 1rem;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

#preview > * {
  margin: 1rem 0;
  max-width: inherit;
}

#preview img {
  display: block;
  max-width: 100%;
}

code,
pre,
blockquote,
table {
  display: inline-block;
  background-color: #c4c4c4;
  color: #222;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

table,
td,
th {
  display: inline-block;
  border: thin solid #222;
  text-align: center;
  padding: 0.5rem;
}

@media (min-width: 700px) {
  #main-box {
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100vh;
  }
}
