:root {
  --mustard-color: #b09364;
  --font-size-p: 0.8rem;
  --font-weight-400: 400;
  --font-weight-600: 600;
}

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

html {
  scrollbar-width: auto;
  scrollbar-color: #b09364 #222222;
}

html::-webkit-scrollbar {
  width: 16px;
}

html::-webkit-scrollbar-track {
  background: #222222;
}

html::-webkit-scrollbar-thumb {
  background-color: #b09364;
  border-radius: 10px;
  border: 3px solid #222222;
}

html::-webkit-scrollbar-thumb:hover {
  background: #b093649f;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  background-color: #fafafa;
}

img,
video {
  user-select: none;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

label {
  cursor: text;
}

/** Z-INDEX =================================> */

.menu-header {
  z-index: 950;
}

#nav-bar {
  z-index: 900;
}

.header-logo {
  z-index: 850;
}

.header-2 {
  display: none;
  z-index: 800;
}

.section-1-text {
  z-index: 750;
}

.section-1-image {
  z-index: 700;
}

.section-3-text {
  z-index: 700;
}

/** HEADER =================================> */

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 8vh;
  border-bottom: thin solid var(--mustard-color);
  text-align: center;
  background-color: #fafafa;
}

.header-logo img {
  max-height: 60%;
  transition: all 300ms ease;
}

.menu-header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 1rem;
  max-height: 100%;
  height: 8vh;
}

.menu-header img {
  max-width: 70%;
  max-height: 70%;
}

.roamer-header-logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-2-links-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
  height: 4rem;
}

.header-2-links-icons svg {
  cursor: pointer;
}

.header-1-icons {
  display: flex;
  width: 100%;
  max-height: 100%;
}

.header-1-icons svg {
  max-height: 100%;
}

#nav-bar {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80vw;
  height: 100%;
  font-weight: var(--font-weight-600);
  background-color: #222222;
}

.nav-bar-img {
  width: 100%;
}

.nav-bar-img img {
  display: block;
  max-width: 50%;
  margin: 0 auto;
  padding: 2rem 0;
}

#nav-bar:target {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 80vw;
  animation-name: menu-appears;
  animation-fill-mode: forwards;
  animation-duration: 500ms;
}

@keyframes menu-appears {
  0% {
    margin-left: -100rem;
  }
  100% {
    margin-left: 0;
  }
}

.nav-link {
  padding: 1rem;
  color: #fff;
}

.nav-link:hover {
  background-color: var(--mustard-color);
  transition: background-color 1s ease;
}

.close-nav-bar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  text-align: right;
}

.close-nav-bar a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.1rem solid var(--mustard-color);
  border-radius: 50%;
  color: var(--mustard-color);
}

/** SECTION 1 ===============================> */

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  text-align: center;
  overflow: hidden;
  height: 92vh;
  width: 100%;
  object-fit: cover;
}

#video {
  height: 92vh;
  width: 100%;
  object-fit: cover;
}

.section-1-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 92vh;
  width: 100%;
}

.section-1-img img {
  width: auto;
  max-height: 75%;
  transition: all 400ms ease;
}

.section-1-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: auto;
  width: 100%;
  padding: 2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.section-1-text h2 {
  font-size: 1.5rem;
  margin: 0;
}

.section-1-text a {
  margin: 0 0.5rem;
  color: #fff;
  font-weight: var(--font-weight-600);
}

.section-1-text > * {
  margin: 0.5rem;
}

.section-1-shop-now {
  display: none;
}

.section-1-a-after {
  display: inline-block;
}
.section-1-a-after::after {
  content: ' >';
  color: var(--mustard-color);
}

.section-1-p-color {
  color: var(--mustard-color);
}

.swiss-made {
  display: none;
}

.section-1-p-color,
.section-1-a-after {
  font-size: var(--font-size-p);
}

/** SECTION 1.5 and 8 ===============================> */

.section-1-5-and-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dedede;
}

.section-1-5-and-8-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 12rem;
  width: 100%;
  color: #222222;
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-600);
  cursor: default;
}

.section-1-5-and-8-figure {
  height: 5rem;
  width: auto;
}

.section-1-5-and-8-figure {
  max-height: 100%;
}

.section-1-5-and-8-hr {
  height: 8rem;
  border: thin solid gray;
}

.section-1-5-and-8-group-2 {
  display: none;
}

.section-1-5-and-8-a-explore {
  font-size: 0.7rem;
  margin-top: 1rem;
}

.section-1-5-and-8-a-explore::after {
  content: ' >';
  color: var(--mustard-color);
  font-weight: var(--font-weight-600);
}

/** SECTION 2, 4, and 5 ===============================> */

.section-2-and-4-and-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 1rem 0;
}

.section-2-and-4-and-5-text {
  text-align: center;
}

.section-2-and-4-and-5-text-h2 {
  margin-top: 1rem;
}

.browse-our-collection,
.our-categories {
  font-size: 1.8rem;
  margin: 3rem 0;
}

.browse-our-collection {
  margin: 0;
}

.section-2-and-4-and-5-text-p {
  margin: 0.5rem 0 2rem 0;
  color: #bcbcbc;
  font-weight: var(--font-weight-600);
}

.section-2-and-4-and-5-text h2 {
  font-weight: var(--font-weight-400);
}

.section-2-and-4-and-5-text p {
  font-size: var(--font-size-p);
}

.section-2-and-4-and-5-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.section-2-and-4-and-5-watches-sell {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 10rem;
  margin: 0.2rem;
}

.section-2-and-4-and-5-img {
  height: 12rem;
}

.section-2-and-4-and-5-img img {
  width: auto;
  max-height: 100%;
}

.watch-model {
  margin: 0.5rem 0;
}

.section-2-and-4-and-5-price {
  color: var(--mustard-color);
  font-weight: var(--font-weight-600);
}

/** SECTION 3 ===============================> */

.section-3 {
  overflow: hidden;
  width: 100%;
  height: 45rem;
  object-fit: fill;
}

.section-3-video {
  object-fit: cover;
  width: 100%;
  height: 33.75rem;
}

.section-3-img {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33.75rem;
  width: 100%;
  margin: 0 auto;
}

.section-3-img img {
  max-height: 24rem;
}

.section-3-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 43rem;
  color: #222222;
}

.section-3-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  height: auto;
}

.section-3-info-h2 {
  font-weight: var(--font-weight-600);
}

.section-3-info-a {
  margin-top: 1rem;
}

.section-3-info-a-signup,
.section-3-info-p {
  display: none;
}

.section-category-collection {
  width: 100%;
  height: auto;
  text-align: center;
}

/** SECTION 6 ===============================> */

.section-6 {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0.5rem;
}

.section-6-logo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 3rem;
  margin: 8rem 0 2rem 0;
}

.section-6-logo-tradition h2 {
  font-size: 1.2rem;
  font-weight: var(--font-weight-400);
}

.section-6-logo-tradition p {
  font-size: var(--font-size-p);
  color: #bcbcbc;
  font-weight: var(--font-weight-600);
  margin: 0.5rem 0;
}

.tradition-hr {
  border: 0.1rem solid #c6a07a;
  width: 14rem;
  margin: 1rem auto;
  box-shadow: 0 1px 0.1rem rgba(0, 0, 0, 0.5);
}

.tradition-card-p {
  color: #707070;
  font-size: 1.2rem;
  font-weight: var(--font-weight-400);
}

.tradition-card-p,
.swiss-made-since-1888 {
  padding: 2rem 0;
}

/** SECTION 7 ===============================> */

.section-7 {
  width: 100%;
}

/** SECTION 9 ===============================> */

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: auto;
  background-color: #222222;
}

.logo-and-social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 8rem;
}

.footer-figure {
  margin: 0 auto;
}

.footer-figure-a {
  height: 2rem;
  width: auto;
}

.footer-figure img {
  max-height: 100%;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.footer-social-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.footer-social-icon a {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}

.footer-social-icon a img {
  max-height: 100%;
}

.footer-details {
  width: 90%;
}

.footer-details summary {
  display: flex;
  justify-content: space-between;
  color: #fff;
  border-bottom: thin solid gray;
  padding: 1rem 0;
  list-style: none;
}

.summary-span {
  user-select: none;
  font-size: 1rem;
  font-weight: var(--font-weight-600);
}

summary::-webkit-details-marker {
  display: none;
}

.footer-details > * {
  display: block;
  margin: 0.5rem auto;
  color: gray;
}

.footer-details:hover {
  cursor: pointer;
}

.footer-details a:hover {
  color: #c69463;
  font-weight: var(--font-weight-600);
}

.footer-hr {
  width: 100%;
  border: thin solid gray;
  margin: 1rem 0;
}

.footer-cards-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}

.footer-section-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  gap: 0.5rem;
}

.footer-figure-card {
  display: flex;
  height: auto;
  width: 2.5rem;
}

.footer-figure-card img {
  max-width: 100%;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem;
  width: auto;
  height: auto;
  color: #fff;
}

.footer-copyright-figure {
  height: 1.2rem;
  width: auto;
}

.footer-copyright-figure img {
  max-height: 100%;
  width: auto;
}

.footer-copyright-p {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-600);
}

.footer-details-screen {
  display: none;
}

/** MEDIA QUERY =================================================> */

@media (min-width: 768px) {
  .nav-link {
    font-size: 1.3rem;
  }

  /** SECTION 1 ===============================> */

  .section-1-img img {
    width: auto;
    max-height: 80%;
  }

  /** SECTION 2, 4 & 5 ===============================> */

  .section-2-and-4-and-5-watches-sell {
    width: 15rem;
    height: 25rem;
  }

  .section-2-and-4-and-5-watches-sell img {
    max-width: 100%;
  }

  .section-2-and-4-and-5-img {
    height: 20rem;
  }

  /** SECTION 6 ============================> */

  .tradition-card-p {
    margin: 0 auto;
    width: 80%;
  }

  .section-6-logo-tradition h2 {
    color: #222222;
    font-size: 1.6rem;
  }
}

@media (min-width: 992px) {
  .header-1-icons {
    display: none;
  }
  .header-2 {
    display: block;
  }

  .header-logo {
    position: static;
    height: 10rem;
  }

  .header-logo img {
    max-height: 100%;
  }

  .menu-header {
    display: none;
  }

  /** HEADER 2 ===============================> */

  .header-2 {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    height: auto;
    background-color: #fafafa;
    border-bottom: thin solid var(--mustard-color);
  }

  .header-2-links-sticky {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 90%;
    height: 4rem;
    padding: 0 0.8rem;
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-600);
    text-align: center;
  }

  .header-2-links-sub-menu {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .header-2-links-sub-menu:hover {
    border-bottom: thick solid var(--mustard-color);
  }

  /** SECTION 1 ===============================> */

  .section-1-img {
    justify-content: flex-start;
    height: 92vh;
    width: 90%;
  }

  .section-1-text {
    height: 92vh;
    width: auto;
    margin-right: 10%;
    padding: 0;
    background-color: transparent;
  }

  .section-1-text > * {
    margin: 1rem 0;
  }

  .section-1-text h2 {
    font-size: 2.5rem;
  }

  .section-1-a-after {
    display: none;
  }

  .section-1-p-color {
    color: var(--mustard-color);
    font-size: 0.9rem;
    font-weight: var(--font-weight-600);
  }

  .swiss-made {
    display: block;
    font-size: var(--font-size-p);
  }

  .section-1-shop-now {
    display: block;
    font-size: var(--font-size-p);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--mustard-color);
    transform: scale(1.2);
    transition: all 300ms ease;
  }

  /** SECTION 1.5 & 8 ============================> */

  .section-1-5-and-8-group-2 {
    display: flex;
  }

  /** SECTION 3 ============================> */

  .section-3-info {
    align-items: flex-end;
    height: 33.75rem;
    font-size: 1.2rem;
  }

  .section-3-text {
    justify-content: center;
    width: 30rem;
    padding: 0 3rem;
    height: 33.75rem;
    background-color: #fafafa;
    margin: 0 4rem;
  }

  .section-3-info-a-signup,
  .section-3-info-p {
    display: block;
    color: gray;
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-600);
    margin: 1rem 0;
    line-height: 1.5rem;
  }

  .section-3-info-a-signup,
  .section-3-info-p strong {
    color: #161616;
  }

  .section-3-info-a {
    display: none;
  }

  .section-3-img {
    width: 50%;
  }

  /** FOOTER ===============================================>*/

  footer {
    justify-content: space-around;
  }

  .logo-and-social {
    display: none;
  }

  .footer-details {
    display: none;
  }

  .footer-details-screen {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 2rem;
    color: #fff;
  }

  .footer-details-screen a {
    font-size: var(--font-size-p);
    color: gray;
  }

  .footer-details-screen a:hover {
    color: #c69463;
    font-weight: var(--font-weight-600);
  }

  .footer-text {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .footer-form {
    width: 80%;
  }

  .footer-text-collection-support-privacy a {
    margin: 1rem 0;
  }

  .footer-follow-us {
    display: flex;
    flex-direction: column;
  }

  .footer-social-media-icons {
    display: flex;
    margin: 1rem 0;
  }

  .footer-follow-us-facebook-instagram {
    width: 1.5rem;
  }

  .instagram-icon {
    margin-left: 1rem;
  }

  .facebook-instagram {
    display: block;
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .email-and-button {
    display: flex;
    align-items: center;
    border: thin solid gray;
    border-radius: 1rem;
    color: gray;
    background-color: transparent;
    width: 90%;
    margin-top: 1rem;
    padding-left: 0.5rem;
    font-weight: var(--font-weight-600);
  }

  .mail-icon {
    display: block;
    width: 1.5rem;
    margin: 0;
  }

  .email {
    width: 100%;
    margin-left: 0.5rem;
    border: none;
    color: gray;
    font-weight: var(--font-weight-600);
    background-color: transparent;
  }

  .email:focus {
    outline: none;
  }

  button {
    width: 5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--mustard-color);
    border: none;
    color: #fff;
    font-weight: var(--font-weight-600);
    cursor: pointer;
    transition: all 300ms ease;
  }

  .section-1-shop-now:hover,
  button:hover {
    color: var(--mustard-color);
    background-color: rgb(231, 231, 231);
    transition: all 300ms ease;
  }
}
