:root {
  --border-drum-machine: solid 2px gray;
  --background-buttons: #11141c;
  --width-height-buttons: 5rem;
  --width-height-animation-buttons: 4rem;
  --border-radius-buttons: 0.5rem;
}

#drum-machine {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: #212836;
  border: var(--border-drum-machine);
  font-size: 1.5rem;
  font-weight: bold;
  user-select: none;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-buttons);
  border-bottom: var(--border-drum-machine);
  width: 100%;
  height: 4rem;
}

.drum-pad-box {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    'Q W E'
    'A S D'
    'Z X C';
  padding: 1rem;
}

#drum_pad_Q {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: Q;
  width: var(--width-height-buttons);
  height: var(--width-height-buttons);
  border-radius: var(--border-radius-buttons);
  background-color: var(--background-buttons);
  transition: all 100ms ease;
}

#drum_pad_W {
  grid-area: W;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width-height-buttons);
  height: var(--width-height-buttons);
  border-radius: var(--border-radius-buttons);
  background-color: var(--background-buttons);
}
#drum_pad_E {
  grid-area: E;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width-height-buttons);
  height: var(--width-height-buttons);
  border-radius: var(--border-radius-buttons);
  background-color: var(--background-buttons);
}
#drum_pad_A {
  grid-area: A;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width-height-buttons);
  height: var(--width-height-buttons);
  border-radius: var(--border-radius-buttons);
  background-color: var(--background-buttons);
}
#drum_pad_S {
  grid-area: S;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width-height-buttons);
  height: var(--width-height-buttons);
  border-radius: var(--border-radius-buttons);
  background-color: var(--background-buttons);
}
#drum_pad_D {
  grid-area: D;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width-height-buttons);
  height: var(--width-height-buttons);
  border-radius: var(--border-radius-buttons);
  background-color: var(--background-buttons);
}
#drum_pad_Z {
  grid-area: Z;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width-height-buttons);
  height: var(--width-height-buttons);
  border-radius: var(--border-radius-buttons);
  background-color: var(--background-buttons);
}
#drum_pad_X {
  grid-area: X;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width-height-buttons);
  height: var(--width-height-buttons);
  border-radius: var(--border-radius-buttons);
  background-color: var(--background-buttons);
}
#drum_pad_C {
  grid-area: C;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width-height-buttons);
  height: var(--width-height-buttons);
  border-radius: var(--border-radius-buttons);
  background-color: var(--background-buttons);
}

.drum-pad-animation {
  animation-name: pad-animation;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
}

#drum_pad_Q:active,
#drum_pad_W:active,
#drum_pad_E:active,
#drum_pad_A:active,
#drum_pad_S:active,
#drum_pad_D:active,
#drum_pad_Z:active,
#drum_pad_X:active,
#drum_pad_C:active {
  background-color: cornflowerblue;
  border: 0.2rem solid #393939;
}

@keyframes pad-animation {
  from {
    background-color: cornflowerblue;
    width: var(--width-height-animation-buttons);
    height: var(--width-height-animation-buttons);
  }
  to {
    background-color: #11141c;
    width: var(--width-height-buttons);
    height: var(--width-height-buttons);
  }
}
