html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #121212;
  color: #dadada;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

a {
  text-decoration: none;
  color: #dadada;
}

/** NAVBAR ======================================> */

#navbar {
  z-index: 999;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3.5rem;
}

.github-link,
.project-link {
  text-align: center;
  padding-left: 0.5rem;
}

.github-link:hover,
.project-link:hover {
  color: #222222;
  background-color: #fafafa;
}

.hr {
  width: 0.1rem;
  height: 1rem;
  margin: 1rem;
  background-color: cornflowerblue;
}

/** NAVBAR ======================================> */

#welcome-section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

h1 {
  z-index: 800;
  position: absolute;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin: 1rem;
}

#welcome-section video {
  z-index: 750;
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

#projects {
  z-index: 999;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
}

.project-1,
.project-2,
.project-3,
.project-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
  padding: 1rem;
  transition: background-color 300ms ease;
}

.project-1 {
  background-color: #1c212e;
}

.project-2 {
  background-color: #2e1c1c;
}

.project-3 {
  background-color: #1c2e22;
}

.project-4 {
  background-color: #2e2e1c;
}

.project-1:hover,
.project-2:hover,
.project-3:hover,
.project-4:hover {
  background-color: #6494ed77;
}

@media (min-width: 640px) {
  /* .header-nav-bar {
    z-index: 900;
    position: fixed;
    top: 0;
    width: 9rem;
  }
  
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  #navbar a {
    text-align: right;
    padding-top: 2rem;
    width: 9rem;
    border-bottom: thin solid #fafafa;
    transition: all 300ms ease;
  }
  
  #navbar a:hover {
    color: #6495ed;
    border-bottom: thin solid #6495ed;
  } */
}

@media (min-width: 768px) {
  #projects {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .project-1,
  .project-2,
  .project-3,
  .project-4 {
    height: 10rem;
  }
}
