html {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #1b1b32;
  color: #fff;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button {
  border: thin;
  color: #fff;
  user-select: none;
  background-color: transparent;
  border-radius: 50%;
  font-size: 100%;
  transition: all 300ms ease;
}

.break-session-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.break-session-box-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b3b4f;
  width: 100%;
  border-radius: 2rem;
  font-size: 1.5rem;
  padding: 0.1rem;
}

.break-session-box-buttons button {
  width: 3rem;
  height: 3rem;
  background-color: #1c212e;
  border: thin solid #3b3b4f;
}

#timer-label {
  display: none;
}

#time-left {
  text-shadow: 0 0 1rem #fff, 0 0 4rem #262d3e;
  color: #ffffff;
  font-size: 5rem;
  transition: all 1s ease;
}

.timer-buttons-box {
  display: flex;
  gap: 1rem;
}

.timer-buttons-box > button {
  border: thin solid #fff;
  border-radius: 2rem;
  height: 2rem;
  width: 6rem;
}

@media (min-width: 992px) {
  button {
    border-radius: 4.5rem;
  }

  #time-left {
    font-size: 8rem;
    transition: all 300ms ease;
  }

  .break-session-box-buttons {
    border-radius: 4rem;
  }

  .break-session-box-buttons button {
    width: 4rem;
    height: 4rem;
  }
}
